<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <div class="container">
    <h1 class="d-flex justify-content-center"><%= @list.name %></h1>
  </div>
</div>




<h2>Movies in this List:</h2>

<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <% movie = bookmark.movie %>
      <div class="col-sm-6">
        <div class="card">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title"><%= movie.title %></h5>
              </div>
              <div class="col">
                <h5 class="card-title"><%= movie.rating %></h5>
              </div>
            </div>
            <p class="card-text"><%= movie.overview %></p>
            <div class="row">
              <div class="col">
                <h5 class="card-title"><%= bookmark.comment %></h5>
              </div>
              <div class="col">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<h2>Add a Movie to this List</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: "Enter a comment about the movie" %>

  <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, prompt: "Select a Movie" %>

  <%= f.submit "Add Movie", class: "btn btn-flat" %>
<% end %>

<h2>Reviews</h2>
<ul>
  <% @list.reviews.each do |review| %>
    <li>
      <h3><%= review.rating %></h3>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

<h2>Add your review</h2>
<%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :content, placeholder: "Enter a review for the list" %>

  <%= f.input :rating, label: "Rating (0-5)", input_html: { min: 0, max: 5, step: 1 } %>

  <%= f.submit "Add Review", class: "btn btn-flat" %>
<% end %>
